# env
envs
/env
# DS_Store
*.DS_Store

/venv

# Jupyter checkpoints
*.ipynb_checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Model files
/models
/pipelines
*.pkl
# *.joblib

*.pyc

# Misc (playground/large data file)
